<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Autologix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="integrantes" routerLinkActive="">Integrantes</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-secondary me-sm-4" type="submit" routerLink="signup">Sign Up</button>
          <button class="btn btn-info my-sm-0" type="submit" routerLink="login">Log In</button>
        </form>
      </div>
    </div>
  </nav>
